/* Desktop styles */
@media only screen and (min-width: 992px) {
    .container {
        display:flex;
        justify-content: center;
    }
    .section{
        float:left;
        width: 30%;
        padding: 0px 10px 0px;
        border: 2px solid #000;
        border-radius:2%;
        margin: 10px;
        background-color: rgb(165, 165, 165);
    }
    .section1{
        display:none;
    }
    .section2{
        display:none;
    }
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        display: flex;
        flex-wrap: wrap; /* Enable wrapping */
        justify-content: center;
     
    }
    .section{
        display:none;
    }
    .section1{
        float:left;
        width: 40%;
        padding: 0px 10px 0px;
        border: 2px solid #000;
        border-radius:2%;
        margin: 10px;
        background-color: rgb(165, 165, 165);
    }
    .section2{
        float:left;
        width: 85%;
        padding: 0px 10px 0px;
        border: 2px solid #000;
        border-radius:2%;
        margin: 10px;
        background-color: rgb(165, 165, 165);
    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .section{
        float:center;
        padding: 0px 10px 0px;
        border: 2px solid #000;
        border-radius:2%;
        margin: 20px 20px 20px;
        background-color: rgb(165, 165, 165);
    }
    .section1{
        display:none;
    }
    .section2{
        display:none;
    }
}

.titlebox{
    display:flex;
    justify-content: right;
    margin-right: 5px;
    margin-bottom: -20px;
}

.subtitle{
    text-align: center;
    background-color: pink;
    margin-top: 5px;
    border:2px solid #000;
    border-radius: 5%;
    width:30%;
    color:#000;
}

.subtitle2{
    text-align: center;
    background-color: red;
    margin-top: 5px;
    border:2px solid #000;
    border-radius: 5%;
    width:30%;
    color:white;
}

.subtitle3{
    text-align: center;
    background-color: yellow;
    margin-top: 5px;
    border:2px solid #000;
    border-radius: 5%;
    width:30%;
    color:#000;
}

p{
    text-align: left;
    font-size:16px;
}
