$SCREEN_SM: 768px;
$SCREEN_MD: 992px;
$SCREEN_SM2: 767px;
$SCREEN_MD2: 991px;

$CQ_MD: '(min-width: '+$SCREEN_MD+')';
$MQ_SM: 'only screen and (max-width: '+$SCREEN_SM2+')';
$MQ_MD: 'only screen and (max-width: '+$SCREEN_MD2+') and (min-width: '+$SCREEN_SM+')';

.section-basic{
    padding: 0px 10px 0px;
    border: 2px solid #000;
    border-radius:2%;
    background-color: rgb(165, 165, 165);
}

@mixin titlebox{
    display:flex;
    justify-content: right;
    margin-right: 5px;
    margin-bottom: -20px;
}

@mixin titleBorder($color, $width, $background, $colortext){
    border: $width solid $color;
    border-radius:5%;
    width:30%;
    margin-top: 5px;
    text-align: center;
    background-color: $background;
    color:$colortext
}

p{
    text-align: left;
    font-size:16px;
}

.container {
    display:flex;
    justify-content: center;
    .section{
        @extend .section-basic;
            &__titlebox{
                @include titlebox;
            }
            &__subtitle--chicken{
                @include titleBorder(black, 2px,black,pink);
            }
            &__subtitle--beef{
                @include titleBorder(black, 2px,red,white);
            }
            &__subtitle--sushi{
                @include titleBorder(black, 2px, yellow, black);
            }
    }
}

/* Desktop styles */
@media #{$CQ_MD} {
    .container {
        .section{
            float:left;
            width: 30%;
            margin: 10px;
        }
    }
}

/* Tablet styles */
@media #{$MQ_MD} {
    .container {
        flex-wrap:wrap;
        .section{
            float:left;
            width: 40%;
            margin: 10px;
        }
        .section:nth-child(3) {
            width:85%;
        }
    }  
}

/* Mobile styles */
@media #{$MQ_SM} {
    .container {
        display:inline-block;
        width: 100%;
            .section{
                float:center;
                margin: 20px 20px 20px;
            }
    }
}